header {
    .grid-area {
        display: grid;
        grid-template-areas: "a"
        "b c d";
        align-items: center;

        .grid-a {
        grid-area: a;
    }

    .grid-b {
        grid-area: b;
    }

    .grid-c {
        grid-area: c;
    }

    .grid-d {
        grid-area: d;
    }

    }
    
}