# See http://help.github.com/ignore-files/ for more about ignoring files.

# System Files
Thumbs.db
.DS_Store
__MACOSX

# IDE and editors
.idea
.vscode

# Compiled output
/dist
/tmp

# Logs
/logs
*.log
npm-debug.log*



.next
node_modules
.env
/app/generated/prisma
