@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Fraunces';
  src: url('fonts/Fraunces.woff2') format('woff2');
}

body {
  font-family: 'Fraunces' !important;
}


* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

.big-container {
  max-width: 1600px;
}

.small-container {
  max-width:1360px;
}

@theme {
  --color-strange-pink: #5C3A4C;
  --color-beige:#FBF7F1;
  --color-light-beige:#F0EDEC;
  
}

html {
  scroll-behavior: smooth;
}

.iti {
  margin: 0;
}

body {
  background-color: #f0efec;
}