footer {
  background-color: #F3ECE2;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 3rem;
}

.line2 {
  line-height: 2;
}

.xs-container {
  max-width: 1200px;
}

.gray-line {
  background-color: #a7a6a6;
  height: 1px;
  width: 100vw;
  border: 1px;
}