.small-line {
  display: block;
  height: 1px;
  width: 10px;
}


.curved-img {
    position: relative;
    inset: 0;
    border-radius: 58% 42% 45% 55% / 55% 48% 52% 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
    width: 35vw;
    height: auto;
}

.curved-main-img {
   position: relative;
    inset: 0;
    border-radius: 50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
    width: 25rem;
    height: auto;
}

